
html, body {
	height: 100%;
	width: 100%;
	height: auto;
	overflow-x: hidden;
}

body {
	font-size: 14px;
  font-family: 'Work Sans', sans-serif;
  background-color: rgb(255, 242, 242);
}

h1 {
	font-weight: bold;
	font-size: 2.5rem;
	color: rgb(32, 64, 86);
}

h4{
	font-size: 1rem;
	font-weight: bold;
}
p {
	color: rgb(74, 74, 74);
}

.card {
  height: 12.5rem;
	background-color: rgb(153, 153, 153);
	border-radius: 8px;
	border: 4px solid rgb(255, 242, 242);
	font-size: 7rem;
	font-weight: 900;
	color: rgb(204, 204, 204);
	align-items: center;
	display: flex;
	justify-content: center;
}

.card: hover {
	cursor: pointer;
}

.container {
	padding-top: 5.25rem;
}


.red {
    background-color: #F25A5C;
}

.blue {
    background-color: #5A8CF2 ;
}

.yellow {
    background-color: #F2E55A;
}

.green {
    background-color: #A6F25A;
}

.orange {
    background-color: #F2995A;
}

.pink {
    background-color: #F25AD8;
}

.lightgreen {
    background-color: #5AF2BF;
}

.violet {
    background-color: #995AF2;
}

.hiddencard {
    background-color: rgb(32, 64, 86);
}

.off {
    background-color: #999999;
}
